bluemix-rednode-rest-api-for-ti-sensortag.txt
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"deb0d57.1c46528","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"deb0d57.1c46528","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"deb0d57.1c46528","name":"cpu status","active":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"deb0d57.1c46528","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"deb0d57.1c46528","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"deb0d57.1c46528","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"deb0d57.1c46528","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"deb0d57.1c46528","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["cbe1a0b7.cd877","805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"deb0d57.1c46528","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"86df0b6c.af90c8","type":"comment","z":"deb0d57.1c46528","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"141b7c7.ad42a84","type":"comment","z":"deb0d57.1c46528","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"deb0d57.1c46528","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"7926c7b2.86d938","type":"comment","z":"deb0d57.1c46528","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"deb0d57.1c46528","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"b40cfc55.4cd52","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"5c313ec11990","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":117,"y":890,"wires":[["4dc2a828.b7fac8","4b4e6e5f.f13ff8","fcc8f10.dd5dd1","e6c0bd52.0c52","4ecdc9f8.85cda8","1a99ecf6.26337b","412ed951.455ea8","ac3184c2.c29dd","1c7d43b5.e86b9c","4daaa7d3.268b18","78d81030.ae199"]]},{"id":"4dc2a828.b7fac8","type":"debug","z":"deb0d57.1c46528","name":"myName","active":true,"console":"false","complete":"payload.d.myName","x":612.5,"y":674,"wires":[]},{"id":"4b4e6e5f.f13ff8","type":"debug","z":"deb0d57.1c46528","name":"ambientTemp","active":true,"console":"false","complete":"payload.d.ambientTemp","x":570.5,"y":780,"wires":[]},{"id":"fcc8f10.dd5dd1","type":"debug","z":"deb0d57.1c46528","name":"objectTemp","active":true,"console":"false","complete":"payload.d.objectTemp","x":741.5,"y":732,"wires":[]},{"id":"e6c0bd52.0c52","type":"debug","z":"deb0d57.1c46528","name":"humidity","active":true,"complete":"payload.d.humidity","x":736.5,"y":807,"wires":[]},{"id":"4ecdc9f8.85cda8","type":"debug","z":"deb0d57.1c46528","name":"magX","active":false,"complete":"payload.d.magX","x":731.5,"y":883,"wires":[]},{"id":"1a99ecf6.26337b","type":"debug","z":"deb0d57.1c46528","name":"magY","active":false,"complete":"payload.d.magY","x":656.5,"y":932,"wires":[]},{"id":"412ed951.455ea8","type":"debug","z":"deb0d57.1c46528","name":"magZ","active":false,"complete":"payload.d.magZ","x":663.5,"y":1041,"wires":[]},{"id":"ac3184c2.c29dd","type":"debug","z":"deb0d57.1c46528","name":"gyroX","active":false,"complete":"payload.d.gyroX","x":704.5,"y":1161,"wires":[]},{"id":"1c7d43b5.e86b9c","type":"debug","z":"deb0d57.1c46528","name":"gyroY","active":false,"complete":"payload.d.gyroY","x":690.5,"y":1235,"wires":[]},{"id":"4daaa7d3.268b18","type":"debug","z":"deb0d57.1c46528","name":"gyroZ","active":false,"complete":"payload.d.gyroZ","x":664.5,"y":1315,"wires":[]},{"id":"e64ed185.af2588","type":"template","z":"deb0d57.1c46528","name":"formatdata","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"aambienttemp={{ payload.aambienttemp }},aobjecttemp={{ payload.aobjecttemp }},ahumidity={{ payload.ahumidity }};bambienttemp={{ payload.bambienttemp }},bobjecttemp={{ payload.bobjecttemp }},bhumidity={{ payload.bhumidity }};cambienttemp={{ payload.cambienttemp }},cobjecttemp={{ payload.cobjecttemp }},chumidity={{ payload.chumidity }};dambienttemp={{ payload.dambienttemp }},dobjecttemp={{ payload.dobjecttemp }},dhumidity={{ payload.dhumidity }}","output":"str","x":838.5,"y":539,"wires":[["cbc93a1d.6c231"]]},{"id":"cbc93a1d.6c231","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":1035.5,"y":546,"wires":[]},{"id":"1f2a2741.cc78d1","type":"http in","z":"deb0d57.1c46528","name":"","url":"/getdata","method":"get","upload":false,"swaggerDoc":"","x":398.5,"y":601,"wires":[["baa7c2e5.e469a"]]},{"id":"baa7c2e5.e469a","type":"change","z":"deb0d57.1c46528","name":"","rules":[{"t":"set","p":"payload.dambienttemp","pt":"msg","to":"dambienttemp","tot":"flow"},{"t":"set","p":"payload.dobjecttemp","pt":"msg","to":"dobjecttemp","tot":"flow"},{"t":"set","p":"payload.dhumidity","pt":"msg","to":"dhumidity","tot":"flow"},{"t":"set","p":"payload.cambienttemp","pt":"msg","to":"cambienttemp","tot":"flow"},{"t":"set","p":"payload.cobjecttemp","pt":"msg","to":"cobjecttemp","tot":"flow"},{"t":"set","p":"payload.chumidity","pt":"msg","to":"chumidity","tot":"flow"},{"t":"set","p":"payload.bambienttemp","pt":"msg","to":"bambienttemp","tot":"flow"},{"t":"set","p":"payload.bobjecttemp","pt":"msg","to":"bobjecttemp","tot":"flow"},{"t":"set","p":"payload.bhumidity","pt":"msg","to":"bhumidity","tot":"flow"},{"t":"set","p":"payload.aambienttemp","pt":"msg","to":"aambienttemp","tot":"flow"},{"t":"set","p":"payload.aobjecttemp","pt":"msg","to":"aobjecttemp","tot":"flow"},{"t":"set","p":"payload.ahumidity","pt":"msg","to":"ahumidity","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":619.5,"y":561,"wires":[["e64ed185.af2588"]]},{"id":"78d81030.ae199","type":"change","z":"deb0d57.1c46528","name":"","rules":[{"t":"set","p":"dambienttemp","pt":"flow","to":"payload.d.ambientTemp","tot":"msg"},{"t":"set","p":"dobjecttemp","pt":"flow","to":"payload.d.objectTemp","tot":"msg"},{"t":"set","p":"dhumidity","pt":"flow","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":347.5,"y":757,"wires":[[]]},{"id":"7b4bfd11.e0832c","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"5c313ebff521","applicationId":"","deviceType":"SensorTag","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":159,"y":1211,"wires":[["d0efd5ca.7551b","4d35e85f.5bb348","b02e7573.8bb988","6c704c62.4c4c04","70b2f8fe.254658","32f90813.b06cd","3ee11d93.7d5c5a","15922847.f48fb","7623adee.8da0a4","3a977d79.a477aa","9740010.4a478"]]},{"id":"d0efd5ca.7551b","type":"debug","z":"deb0d57.1c46528","name":"myName","active":true,"complete":"payload.d.myName","x":597.5,"y":1194,"wires":[]},{"id":"4d35e85f.5bb348","type":"debug","z":"deb0d57.1c46528","name":"ambientTemp","active":true,"complete":"payload.d.ambientTemp","x":597.5,"y":1294,"wires":[]},{"id":"b02e7573.8bb988","type":"debug","z":"deb0d57.1c46528","name":"objectTemp","active":true,"complete":"payload.d.objectTemp","x":597.5,"y":1394,"wires":[]},{"id":"6c704c62.4c4c04","type":"debug","z":"deb0d57.1c46528","name":"humidity","active":true,"complete":"payload.d.humidity","x":597.5,"y":1494,"wires":[]},{"id":"70b2f8fe.254658","type":"debug","z":"deb0d57.1c46528","name":"magX","active":false,"complete":"payload.d.magX","x":597.5,"y":1594,"wires":[]},{"id":"32f90813.b06cd","type":"debug","z":"deb0d57.1c46528","name":"magY","active":false,"complete":"payload.d.magY","x":597.5,"y":1694,"wires":[]},{"id":"3ee11d93.7d5c5a","type":"debug","z":"deb0d57.1c46528","name":"magZ","active":false,"complete":"payload.d.magZ","x":597.5,"y":1794,"wires":[]},{"id":"15922847.f48fb","type":"debug","z":"deb0d57.1c46528","name":"gyroX","active":false,"complete":"payload.d.gyroX","x":597.5,"y":1894,"wires":[]},{"id":"7623adee.8da0a4","type":"debug","z":"deb0d57.1c46528","name":"gyroY","active":false,"complete":"payload.d.gyroY","x":597.5,"y":1994,"wires":[]},{"id":"3a977d79.a477aa","type":"debug","z":"deb0d57.1c46528","name":"gyroZ","active":false,"complete":"payload.d.gyroZ","x":597.5,"y":2094,"wires":[]},{"id":"9740010.4a478","type":"change","z":"deb0d57.1c46528","name":"","rules":[{"t":"set","p":"aambienttemp","pt":"flow","to":"payload.d.ambientTemp","tot":"msg"},{"t":"set","p":"aobjecttemp","pt":"flow","to":"payload.d.objectTemp","tot":"msg"},{"t":"set","p":"ahumidity","pt":"flow","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":361,"y":1118,"wires":[[]]},{"id":"63237ddf.8f477c","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"b4994c34db36","applicationId":"","deviceType":"SensorTag","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":132,"y":1713,"wires":[["aa68467d.38ad9","5dfbd0a2.50d708","f23c8693.4abdf","e5fc646e.3f53c8","3ef1e3d1.2f63b4","9e7167f7.f5cec","ed8af462.178888","d1e8d70f.3fe71","d3182066.50901","9ae49160.d961a8","bce5d8e2.53b458"]]},{"id":"aa68467d.38ad9","type":"debug","z":"deb0d57.1c46528","name":"myName","active":true,"complete":"payload.d.myName","x":580.5,"y":1714,"wires":[]},{"id":"5dfbd0a2.50d708","type":"debug","z":"deb0d57.1c46528","name":"ambientTemp","active":true,"complete":"payload.d.ambientTemp","x":580.5,"y":1814,"wires":[]},{"id":"f23c8693.4abdf","type":"debug","z":"deb0d57.1c46528","name":"objectTemp","active":true,"complete":"payload.d.objectTemp","x":580.5,"y":1914,"wires":[]},{"id":"e5fc646e.3f53c8","type":"debug","z":"deb0d57.1c46528","name":"humidity","active":true,"complete":"payload.d.humidity","x":580.5,"y":2014,"wires":[]},{"id":"3ef1e3d1.2f63b4","type":"debug","z":"deb0d57.1c46528","name":"magX","active":false,"complete":"payload.d.magX","x":580.5,"y":2114,"wires":[]},{"id":"9e7167f7.f5cec","type":"debug","z":"deb0d57.1c46528","name":"magY","active":false,"complete":"payload.d.magY","x":580.5,"y":2214,"wires":[]},{"id":"ed8af462.178888","type":"debug","z":"deb0d57.1c46528","name":"magZ","active":false,"complete":"payload.d.magZ","x":580.5,"y":2314,"wires":[]},{"id":"d1e8d70f.3fe71","type":"debug","z":"deb0d57.1c46528","name":"gyroX","active":false,"complete":"payload.d.gyroX","x":580.5,"y":2414,"wires":[]},{"id":"d3182066.50901","type":"debug","z":"deb0d57.1c46528","name":"gyroY","active":false,"complete":"payload.d.gyroY","x":580.5,"y":2514,"wires":[]},{"id":"9ae49160.d961a8","type":"debug","z":"deb0d57.1c46528","name":"gyroZ","active":false,"complete":"payload.d.gyroZ","x":580.5,"y":2614,"wires":[]},{"id":"bce5d8e2.53b458","type":"change","z":"deb0d57.1c46528","name":"","rules":[{"t":"set","p":"bambienttemp","pt":"flow","to":"payload.d.ambientTemp","tot":"msg"},{"t":"set","p":"bobjecttemp","pt":"flow","to":"payload.d.objectTemp","tot":"msg"},{"t":"set","p":"bhumidity","pt":"flow","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":326,"y":1638,"wires":[[]]},{"id":"3da95c9d.ad6fac","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"5c313ebfec75","applicationId":"","deviceType":"SensorTag","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":135,"y":2193,"wires":[["9ee02078.3c893","d1830b0e.8fd0e8","c55bee89.62efb","dc4c8af6.232448","5bb39ffe.947db8","fd4ee312.df2298","c9a9f2e.d75741","e78b6804.84318","f01fb458.e6ffd","730fac2f.e7bda4","b9f157c8.7f7dd"]]},{"id":"9ee02078.3c893","type":"debug","z":"deb0d57.1c46528","name":"myName","active":true,"complete":"payload.d.myName","x":583.5,"y":2194,"wires":[]},{"id":"d1830b0e.8fd0e8","type":"debug","z":"deb0d57.1c46528","name":"ambientTemp","active":true,"complete":"payload.d.ambientTemp","x":583.5,"y":2294,"wires":[]},{"id":"c55bee89.62efb","type":"debug","z":"deb0d57.1c46528","name":"objectTemp","active":true,"complete":"payload.d.objectTemp","x":583.5,"y":2394,"wires":[]},{"id":"dc4c8af6.232448","type":"debug","z":"deb0d57.1c46528","name":"humidity","active":true,"complete":"payload.d.humidity","x":583.5,"y":2494,"wires":[]},{"id":"5bb39ffe.947db8","type":"debug","z":"deb0d57.1c46528","name":"magX","active":false,"complete":"payload.d.magX","x":583.5,"y":2594,"wires":[]},{"id":"fd4ee312.df2298","type":"debug","z":"deb0d57.1c46528","name":"magY","active":false,"complete":"payload.d.magY","x":583.5,"y":2694,"wires":[]},{"id":"c9a9f2e.d75741","type":"debug","z":"deb0d57.1c46528","name":"magZ","active":false,"complete":"payload.d.magZ","x":583.5,"y":2794,"wires":[]},{"id":"e78b6804.84318","type":"debug","z":"deb0d57.1c46528","name":"gyroX","active":false,"complete":"payload.d.gyroX","x":583.5,"y":2894,"wires":[]},{"id":"f01fb458.e6ffd","type":"debug","z":"deb0d57.1c46528","name":"gyroY","active":false,"complete":"payload.d.gyroY","x":583.5,"y":2994,"wires":[]},{"id":"730fac2f.e7bda4","type":"debug","z":"deb0d57.1c46528","name":"gyroZ","active":false,"complete":"payload.d.gyroZ","x":583.5,"y":3094,"wires":[]},{"id":"b9f157c8.7f7dd","type":"change","z":"deb0d57.1c46528","name":"","rules":[{"t":"set","p":"cambienttemp","pt":"flow","to":"payload.d.ambientTemp","tot":"msg"},{"t":"set","p":"cobjecttemp","pt":"flow","to":"payload.d.objectTemp","tot":"msg"},{"t":"set","p":"chumidity","pt":"flow","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":353,"y":2098,"wires":[[]]}]
